
*{
    overflow-x: hidden; //horizontal
    overflow-y: scroll; //vertical
}

body{
    background-color: blue;
    color: white;
}
.titletext{
    text-align: center;
    font-family: 'Arya', sans-serif;
}

.neptable{
    background-color: white;
    border-radius: 10px;
    color: black;
    padding: 10px;
    .typeTitle{
        color: red;
        font-family: 'Arya', sans-serif;
    }
    .titles{
        font-family: 'Sahitya', serif;
    }
}

.engtable{
    background-color: white;
    border-radius: 10px;
    color: black;
    padding: 10px;
    .typeTitle{
        color: red;
        font-family: 'Gotu', sans-serif;
    }
    .titles{
        font-family: ;
    }
}