
body{
    background-color: blue;
    color: white;
}
.titletext{
    text-align: center;
    font-family: 'Arya', sans-serif;
}
.disclaimer{
    font-style: italic;
    text-align: center;
    font-size: 12px;
    a{
        text-decoration: none;
        color: yellow;
    }
}

.neptable{
    background-color: white;
    border-radius: 10px;
    color: black;
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
    .typeTitle{
        color: red;
        font-family: 'Arya', sans-serif;
        text-align: center;
    }
    .titles{
        font-family: 'Sahitya', serif;
    }
}

.engtable{
    background-color: white;
    border-radius: 10px;
    color: black;
    padding: 10px;
    margin: 10px;
    .typeTitle{
        color: red;
        font-family: 'Gotu', sans-serif;
        text-align: center;
    }
    .titles{
        font-family: 'Sahitya', serif;
    }
}